*{
    margin: 0;  
}

/* NAVBAR */
.navbar{
    padding: 30px 20px;
    display: flex;
    justify-content: space-around;
}
.navbar__logo{
    background-color: tomato;
    width: 50px;
    height: 50px;
}
.navbar__logo > a > img{
    width: 100%;
}
.material-symbols-outlined{
    width: 50px;
}
.navbar__menu__list{
    list-style: none;
}
.navbar__menu__list--item a {
    text-decoration: none;
}
.navbar__contact a{
    text-decoration: none;
}
.navbar__input-check:checked ~ .navbar__menu {
    display: none;
}
.navbar__input-check:not(:checked) ~ .navbar__contact--mobile {
    display: none;
}

/* MAIN */
.main__banner{
    background-image: url(assets/paisaje.jpg);
}